#### This project uses IPython SQL to run SQL queries directly within Jupyter notebooks and PyMySQL to establish a connection to a MySQL database.

pip install ipython-sql pymysql

In [1]:
%load_ext sql

In [2]:
pip install sqlalchemy==1.4.53

Requirement already satisfied: sqlalchemy==1.4.53 in c:\users\ol-shobowale\appdata\local\anaconda3\lib\site-packages (1.4.53)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: greenlet!=0.4.17 in c:\users\ol-shobowale\appdata\local\anaconda3\lib\site-packages (from sqlalchemy==1.4.53) (3.0.1)

In [3]:
%sql mysql+pymysql://root:Oluwasegun%401234@localhost:3306/who

'Connected: root@who'

## Lists of tables I'll be interacting with
    country
    mortality_table
    population

### Evaluate dataset completeness by computing the count of distinct reporting years for each country, ranking them by coverage, and returning the top 50.

In [5]:
%%sql

SELECT m.country,
         c.country_name,
        COUNT(DISTINCT m.year_01) AS years_recorded
       
FROM mortality_table m
JOIN country c
ON c.country = m.country
GROUP BY c.country_name, m.country
ORDER BY years_recorded 
DESC
LIMIT 50;

 * mysql+pymysql://root:***@localhost:3306/who
50 rows affected.

[(4045, 'Czech Republic', 30),
 (4050, 'Denmark', 29),
 (4150, 'Hungary', 28),
 (4210, 'Netherlands', 28),
 (4186, 'Latvia', 28),
 (3325, 'Republic of Korea', 28),
 (4300, 'Switzerland', 28),
 (4274, 'Slovakia', 28),
 (3190, 'Kuwait', 27),
 (4200, 'Malta', 27),
 (2320, 'Montserrat', 27),
 (4160, 'Iceland', 27),
 (4290, 'Sweden', 27),
 (4038, 'Croatia', 27),
 (3160, 'Japan', 27),
 (4070, 'Finland', 27),
 (2360, 'Paraguay', 26),
 (2070, 'Brazil', 26),
 (2020, 'Argentina', 26),
 (4188, 'Lithuania', 26),
 (2340, 'Nicaragua', 26),
 (3380, 'Thailand', 26),
 (4055, 'Estonia', 26),
 (4273, 'Serbia', 26),
 (2180, 'Ecuador', 26),
 (2140, 'Costa Rica', 26),
 (2460, 'Uruguay', 25),
 (2310, 'Mexico', 25),
 (2130, 'Colombia', 25),
 (4190, 'Luxembourg', 25),
 (3150, 'Israel', 25),
 (5020, 'Australia', 25),
 (1430, 'South Africa', 25),
 (2120, 'Chile', 25),
 (2010, 'Antigua and Barbuda', 24),
 (4280, 'Spain', 24),
 (2450, 'United States of America', 24),
 (2350, 'Panama', 24),
 (4230, 'Poland', 24),
 (4260, 'Republic of Moldova', 24),
 (4276, 'Slovenia', 24),
 (3030, 'Brunei Darussalam', 24),
 (2445, 'Turks and Caicos Islands', 24),
 (4020, 'Belgium', 24),
 (2400, 'Saint Lucia', 24),
 (4330, 'United Kingdom, Scotland', 23),
 (4310, 'United Kingdom, England and Wales', 23),
 (2090, 'Canada', 23),
 (4085, 'Germany', 23),
 (2240, 'Guadeloupe', 23)]

### Mortality Coverage by Cause of Death

This query evaluates the breadth of mortality data reporting across countries by counting the number of distinct causes of death recorded for each country.

It helps identify:
- Countries with comprehensive cause-of-death reporting
- Countries with limited or incomplete mortality classification
- Variability in data granularity across regions

The results are ordered to highlight countries with the widest range of recorded causes, which may indicate stronger health reporting systems or more detailed mortality surveillance.

During initial analysis, all values in the `cause` column returned as `NULL`, resulting in zero counts when aggregating causes of death by country. This was traced to a schema mismatch during data import, where the `cause` column was not correctly defined.

The dataset was reloaded after updating the table schema to properly include the `cause` field. Once corrected, cause-level mortality data was successfully restored, enabling accurate aggregation and analysis of mortality patterns by cause across countries.

In [6]:
%%sql

SELECT
    m.country,
    c.country_name,
    COUNT(DISTINCT m.cause) AS cause_count
FROM mortality_table m
JOIN country c
ON c.country = m.country
GROUP BY m.country, c.country_name
ORDER BY cause_count DESC
LIMIT 50;

 * mysql+pymysql://root:***@localhost:3306/who
50 rows affected.

[(2070, 'Brazil', 8637),
 (2450, 'United States of America', 7601),
 (2310, 'Mexico', 7363),
 (4085, 'Germany', 7253),
 (3300, 'Philippines', 7194),
 (3325, 'Republic of Korea', 7109),
 (2020, 'Argentina', 6646),
 (2130, 'Colombia', 6437),
 (3160, 'Japan', 6290),
 (4308, 'United Kingdom', 6005),
 (4280, 'Spain', 5970),
 (4180, 'Italy', 5931),
 (2370, 'Peru', 5928),
 (4182, 'Kazakhstan', 5893),
 (2470, 'Venezuela', 5856),
 (4310, 'United Kingdom, England and Wales', 5853),
 (2180, 'Ecuador', 5736),
 (5020, 'Australia', 5699),
 (4020, 'Belgium', 5668),
 (4230, 'Poland', 5633),
 (3400, 'Turkey', 5563),
 (4080, 'France', 5467),
 (4150, 'Hungary', 5465),
 (4210, 'Netherlands', 5449),
 (4045, 'Czech Republic', 5355),
 (3380, 'Thailand', 5271),
 (3130, 'Iran (Islamic Republic of)', 5271),
 (2120, 'Chile', 4953),
 (4030, 'Bulgaria', 4860),
 (2150, 'Cuba', 4811),
 (4300, 'Switzerland', 4799),
 (4188, 'Lithuania', 4770),
 (4050, 'Denmark', 4693),
 (4270, 'Romania', 4461),
 (4274, 'Slovakia', 4457),
 (1310, 'Morocco', 4388),
 (3365, 'Sri Lanka', 4379),
 (4240, 'Portugal', 4369),
 (4084, 'Georgia', 4359),
 (2090, 'Canada', 4324),
 (4010, 'Austria', 4321),
 (2170, 'Dominican Republic', 4246),
 (2360, 'Paraguay', 4199),
 (2350, 'Panama', 4077),
 (4290, 'Sweden', 4043),
 (2340, 'Nicaragua', 3945),
 (2250, 'Guatemala', 3943),
 (4038, 'Croatia', 3926),
 (4186, 'Latvia', 3914),
 (2140, 'Costa Rica', 3856)]

## Population Ranking by Year

This query aggregates total population by country and year, then applies a RANK() window function to rank countries by population size within each year.

Results are limited to 50 rows for readability while preserving full ranking logic in the query.

In [8]:
%%sql
WITH country_population AS (
    SELECT 
        c.country_name,
        p.year_1,
        SUM(p.total_pop) AS total_pop
    FROM population p
    JOIN country c
        ON p.country = c.country
    GROUP BY c.country_name, p.year_1
)

SELECT *
FROM (
    SELECT 
        country_name,
        year_1,
        total_pop,
        RANK() OVER (
            PARTITION BY year_1 
            ORDER BY total_pop DESC
        ) AS pop_rank
    FROM country_population
) ranked
WHERE pop_rank <= 10
LIMIT 50;

 * mysql+pymysql://root:***@localhost:3306/who
50 rows affected.

[('United States of America', 1950, Decimal('150697300'), 1),
 ('Japan', 1950, Decimal('83199700'), 2),
 ('United Kingdom', 1950, Decimal('50313500'), 3),
 ('Germany, Former Federal Republic', 1950, Decimal('47695700'), 4),
 ('Italy', 1950, Decimal('47104000'), 5),
 ('United Kingdom, England and Wales', 1950, Decimal('43830000'), 6),
 ('France', 1950, Decimal('41828700'), 7),
 ('Spain', 1950, Decimal('27868000'), 8),
 ('Poland', 1950, Decimal('24824000'), 9),
 ('Philippines', 1950, Decimal('19880500'), 10),
 ('United States of America', 1951, Decimal('153311000'), 1),
 ('Japan', 1951, Decimal('84573000'), 2),
 ('United Kingdom', 1951, Decimal('50288300'), 3),
 ('Germany, Former Federal Republic', 1951, Decimal('48074900'), 4),
 ('Italy', 1951, Decimal('46864100'), 5),
 ('United Kingdom, England and Wales', 1951, Decimal('43815000'), 6),
 ('France', 1951, Decimal('42055500'), 7),
 ('Spain', 1951, Decimal('28105000'), 8),
 ('Poland', 1951, Decimal('25271000'), 9),
 ('Philippines', 1951, Decimal('20259500'), 10),
 ('United States of America', 1952, Decimal('155687000'), 1),
 ('Japan', 1952, Decimal('85852000'), 2),
 ('United Kingdom', 1952, Decimal('50430600'), 3),
 ('Germany, Former Federal Republic', 1952, Decimal('48488000'), 4),
 ('Italy', 1952, Decimal('47666300'), 5),
 ('United Kingdom, England and Wales', 1952, Decimal('43955000'), 6),
 ('France', 1952, Decimal('42459600'), 7),
 ('Spain', 1952, Decimal('28342000'), 8),
 ('Poland', 1952, Decimal('25753000'), 9),
 ('Philippines', 1952, Decimal('20645600'), 10),
 ('United States of America', 1953, Decimal('158242000'), 1),
 ('Japan', 1953, Decimal('87033000'), 2),
 ('United Kingdom', 1953, Decimal('50592900'), 3),
 ('Germany, Former Federal Republic', 1953, Decimal('48983200'), 4),
 ('Italy', 1953, Decimal('47956700'), 5),
 ('United Kingdom, England and Wales', 1953, Decimal('44109000'), 6),
 ('France', 1953, Decimal('42751700'), 7),
 ('Spain', 1953, Decimal('28580000'), 8),
 ('Poland', 1953, Decimal('26255000'), 9),
 ('Thailand', 1953, Decimal('21165000'), 10),
 ('United States of America', 1954, Decimal('161164000'), 1),
 ('Japan', 1954, Decimal('88293000'), 2),
 ('United Kingdom', 1954, Decimal('50765000'), 3),
 ('Germany, Former Federal Republic', 1954, Decimal('49520600'), 4),
 ('Italy', 1954, Decimal('48298800'), 5),
 ('United Kingdom, England and Wales', 1954, Decimal('44274000'), 6),
 ('France', 1954, Decimal('43056500'), 7),
 ('Spain', 1954, Decimal('28817000'), 8),
 ('Poland', 1954, Decimal('26761500'), 9),
 ('Thailand', 1954, Decimal('21845000'), 10)]

## Country Mortality Ranking (Per Year)

This query computes yearly total deaths by country and applies a window function to rank countries by total deaths within each year.

This enables:
- Identification of countries with the highest mortality in each year
- Year-by-year comparison of mortality levels
- Highlighting demographic or health trends across countries
- Results are limited to 50 rows for readability while preserving full ranking logic in the query.

In [10]:
%%sql
WITH country_mortality AS (
    SELECT 
        c.country_name,
        m.year_01,
        SUM(m.total_deaths) AS total_deaths
    FROM mortality_table m
    JOIN country c
        ON m.country = c.country
    GROUP BY c.country_name, m.year_01
)

SELECT 
    country_name,
    year_01,
    total_deaths,
    RANK() OVER (
        PARTITION BY year_01 
        ORDER BY total_deaths DESC
    ) AS death_rank
FROM country_mortality
LIMIT 50;

 * mysql+pymysql://root:***@localhost:3306/who
50 rows affected.

[('Netherlands Antilles', 1988, Decimal('1942'), 1),
 ('Netherlands Antilles', 1989, Decimal('1928'), 1),
 ('Netherlands Antilles', 1990, Decimal('1856'), 1),
 ('Netherlands Antilles', 1991, Decimal('1774'), 1),
 ('Netherlands Antilles', 1992, Decimal('2028'), 1),
 ('Netherlands Antilles', 1993, Decimal('2086'), 1),
 ('Thailand', 1994, Decimal('611052'), 1),
 ('Czech Republic', 1994, Decimal('234746'), 2),
 ('Denmark', 1994, Decimal('122198'), 3),
 ('Slovakia', 1994, Decimal('102766'), 4),
 ('Netherlands Antilles', 1994, Decimal('2008'), 5),
 ('Japan', 1995, Decimal('1844278'), 1),
 ('Thailand', 1995, Decimal('649684'), 2),
 ('Republic of Korea', 1995, Decimal('485676'), 3),
 ('Czech Republic', 1995, Decimal('235826'), 4),
 ('Switzerland', 1995, Decimal('126778'), 5),
 ('Denmark', 1995, Decimal('125630'), 6),
 ('Slovakia', 1995, Decimal('105366'), 7),
 ('Croatia', 1995, Decimal('101072'), 8),
 ('Kuwait', 1995, Decimal('7562'), 9),
 ('Malta', 1995, Decimal('5416'), 10),
 ('Suriname', 1995, Decimal('3070'), 11),
 ('Netherlands Antilles', 1995, Decimal('2166'), 12),
 ('Qatar', 1995, Decimal('2000'), 13),
 ('Montserrat', 1995, Decimal('200'), 14),
 ('Brazil', 1996, Decimal('3635528'), 1),
 ('Japan', 1996, Decimal('1792422'), 2),
 ('Thailand', 1996, Decimal('685286'), 3),
 ('South Africa', 1996, Decimal('581666'), 4),
 ('Republic of Korea', 1996, Decimal('482298'), 5),
 ('Hungary', 1996, Decimal('286260'), 6),
 ('Netherlands', 1996, Decimal('275122'), 7),
 ('Czech Republic', 1996, Decimal('225564'), 8),
 ('Venezuela', 1996, Decimal('200090'), 9),
 ('Switzerland', 1996, Decimal('125286'), 10),
 ('Denmark', 1996, Decimal('121424'), 11),
 ('Slovakia', 1996, Decimal('102472'), 12),
 ('Croatia', 1996, Decimal('101272'), 13),
 ('Republic of Moldova', 1996, Decimal('100118'), 14),
 ('Finland', 1996, Decimal('98322'), 15),
 ('Norway', 1996, Decimal('87838'), 16),
 ('Latvia', 1996, Decimal('68640'), 17),
 ('Dominican Republic', 1996, Decimal('47392'), 18),
 ('Paraguay', 1996, Decimal('34894'), 19),
 ('Kuwait', 1996, Decimal('7624'), 20),
 ('Malta', 1996, Decimal('5530'), 21),
 ('Iceland', 1996, Decimal('3758'), 22),
 ('Suriname', 1996, Decimal('3656'), 23),
 ('Brunei Darussalam', 1996, Decimal('2796'), 24),
 ('Netherlands Antilles', 1996, Decimal('2118'), 25)]

### Identifying the Top 10 Causes of Death by Total Reported Mortality (Global)

In [12]:
%%sql

SELECT 
    m.cause,
    SUM(m.total_deaths) AS total_deaths
FROM mortality_table m
GROUP BY m.cause
ORDER BY total_deaths
DESC
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/who
10 rows affected.

[('AAA', Decimal('392728998')),
 ('1000', Decimal('56659976')),
 ('1064', Decimal('31128291')),
 ('I219', Decimal('19190574')),
 ('1067', Decimal('16623454')),
 ('C349', Decimal('14195943')),
 ('I64', Decimal('10691592')),
 ('1069', Decimal('9579551')),
 ('J189', Decimal('9292527')),
 ('I251', Decimal('9217644'))]

### Comparing Cause of Death Distribution by Gender
1 = male
2 = female

Results are limited to 50 rows for readability while preserving full ranking logic in the query.

In [11]:
%%sql

SELECT 
 m.cause,
    m.sex,
    SUM(m.total_deaths) AS total_deaths
FROM mortality_table m
GROUP BY m.cause, m.sex
ORDER BY total_deaths
DESC
LIMIT 50;

 * mysql+pymysql://root:***@localhost:3306/who
50 rows affected.

[('AAA', 1, Decimal('206295665')),
 ('AAA', 2, Decimal('186320451')),
 ('1000', 1, Decimal('29529557')),
 ('1000', 2, Decimal('27130419')),
 ('1064', 2, Decimal('16943891')),
 ('1064', 1, Decimal('14184400')),
 ('I219', 1, Decimal('10988226')),
 ('C349', 1, Decimal('9192887')),
 ('1067', 2, Decimal('8689065')),
 ('I219', 2, Decimal('8200175')),
 ('1067', 1, Decimal('7934389')),
 ('I64', 2, Decimal('6133388')),
 ('1069', 2, Decimal('5830925')),
 ('R99', 1, Decimal('5087694')),
 ('C349', 2, Decimal('5002177')),
 ('C509', 2, Decimal('4889263')),
 ('I251', 1, Decimal('4837776')),
 ('1095', 1, Decimal('4761984')),
 ('J189', 1, Decimal('4719932')),
 ('J189', 2, Decimal('4570964')),
 ('I64', 1, Decimal('4555970')),
 ('R54', 2, Decimal('4424666')),
 ('I251', 2, Decimal('4379656')),
 ('C61', 1, Decimal('4366891')),
 ('1026', 1, Decimal('4213049')),
 ('F03', 2, Decimal('4148131')),
 ('R99', 2, Decimal('3985766')),
 ('I509', 2, Decimal('3868173')),
 ('1069', 1, Decimal('3748626')),
 ('J449', 1, Decimal('3702157')),
 ('1026', 2, Decimal('3554161')),
 ('I259', 2, Decimal('3409454')),
 ('I259', 1, Decimal('3382636')),
 ('J449', 2, Decimal('3066380')),
 ('G309', 2, Decimal('2977651')),
 ('I509', 1, Decimal('2799294')),
 ('C169', 1, Decimal('2487489')),
 ('I10', 2, Decimal('2354125')),
 ('R54', 1, Decimal('2232425')),
 ('U071', 1, Decimal('2210348')),
 ('C189', 1, Decimal('2124961')),
 ('I500', 2, Decimal('2051515')),
 ('C189', 2, Decimal('2017652')),
 ('1094', 2, Decimal('1923932')),
 ('F03', 1, Decimal('1910069')),
 ('C259', 1, Decimal('1894144')),
 ('C259', 2, Decimal('1847439')),
 ('E149', 2, Decimal('1837896')),
 ('K746', 1, Decimal('1834671')),
 ('I619', 1, Decimal('1827808'))]

### Country-Level Mortality Rate per 1,000 Population Over Time
Results are limited to 50 rows for readability while preserving full ranking logic in the query.

In [12]:
%%sql

WITH death_rate AS (SELECT c.country_name,
                            m.year_01,
                            SUM(m.total_deaths)/SUM(p.total_pop) * 1000 AS death_rate_1000
                    FROM mortality_table m
                    JOIN population p ON m.country = p.country
                    AND m.year_01 = p.year_1
                    JOIN country c ON c.country = m.country
                    GROUP BY c.country_name, m.year_01)

SELECT country_name,
        year_01,
        death_rate_1000
FROM death_rate
ORDER BY country_name, year_01
LIMIT 50;

 * mysql+pymysql://root:***@localhost:3306/who
50 rows affected.

[('Andorra', 2011, Decimal('0.0978')),
 ('Andorra', 2012, Decimal('0.1146')),
 ('Andorra', 2013, Decimal('0.0921')),
 ('Andorra', 2014, Decimal('0.1047')),
 ('Andorra', 2015, Decimal('0.1077')),
 ('Andorra', 2016, Decimal('0.1172')),
 ('Andorra', 2017, Decimal('0.1207')),
 ('Andorra', 2018, Decimal('0.1230')),
 ('Andorra', 2019, Decimal('0.1100')),
 ('Andorra', 2020, Decimal('0.1364')),
 ('Armenia', 2006, Decimal('0.0492')),
 ('Armenia', 2007, Decimal('0.0267')),
 ('Armenia', 2008, Decimal('0.0476')),
 ('Armenia', 2009, Decimal('0.0487')),
 ('Armenia', 2012, Decimal('0.0500')),
 ('Armenia', 2013, Decimal('0.0526')),
 ('Armenia', 2014, Decimal('0.0520')),
 ('Armenia', 2015, Decimal('0.0484')),
 ('Armenia', 2016, Decimal('0.0225')),
 ('Armenia', 2017, Decimal('0.0205')),
 ('Armenia', 2018, Decimal('0.0203')),
 ('Armenia', 2019, Decimal('0.0220')),
 ('Armenia', 2022, Decimal('0.0241')),
 ('Australia', 1998, Decimal('0.0082')),
 ('Australia', 1999, Decimal('0.0078')),
 ('Australia', 2000, Decimal('0.0080')),
 ('Australia', 2001, Decimal('0.0078')),
 ('Australia', 2002, Decimal('0.0078')),
 ('Australia', 2003, Decimal('0.0072')),
 ('Australia', 2004, Decimal('0.0070')),
 ('Australia', 2006, Decimal('0.0067')),
 ('Australia', 2007, Decimal('0.0068')),
 ('Australia', 2008, Decimal('0.0070')),
 ('Australia', 2009, Decimal('0.0067')),
 ('Australia', 2010, Decimal('0.0068')),
 ('Australia', 2011, Decimal('0.0079')),
 ('Australia', 2012, Decimal('0.0077')),
 ('Australia', 2013, Decimal('0.0075')),
 ('Australia', 2014, Decimal('0.0078')),
 ('Australia', 2015, Decimal('0.0080')),
 ('Australia', 2016, Decimal('0.0076')),
 ('Australia', 2017, Decimal('0.0076')),
 ('Australia', 2018, Decimal('0.0074')),
 ('Australia', 2019, Decimal('0.0074')),
 ('Australia', 2020, Decimal('0.0073')),
 ('Australia', 2021, Decimal('0.0075')),
 ('Australia', 2022, Decimal('0.0081')),
 ('Australia', 2023, Decimal('0.0074')),
 ('Austria', 2002, Decimal('0.0158')),
 ('Austria', 2003, Decimal('0.0168'))]

### Sanity Check: Validating Mortality Rate Calculations
This section validates computed mortality rates by comparing aggregated death counts and population figures to ensure calculations are logically and numerically consistent.

Results are limited to 50 rows for readability while preserving full ranking logic in the query.

In [14]:
%%sql

SELECT
    country_name,
    year_01,
    SUM(total_deaths) AS deaths,
    SUM(total_pop) AS population,
    (SUM(total_deaths) / SUM(total_pop)) * 1000 AS deaths_per_1000
FROM mortality_table m
JOIN population p
    ON m.country = p.country
   AND m.year_01 = p.year_1
JOIN country c
    ON c.country = m.country
GROUP BY country_name, year_01
ORDER BY deaths_per_1000 DESC
LIMIT 50;

 * mysql+pymysql://root:***@localhost:3306/who
50 rows affected.

[('Ukraine', 2005, Decimal('4617844'), Decimal('9338038384'), Decimal('0.4945')),
 ('Ukraine', 2007, Decimal('4509492'), Decimal('9219471000'), Decimal('0.4891')),
 ('Ukraine', 2008, Decimal('4463450'), Decimal('9169488966'), Decimal('0.4868')),
 ('Russian Federation', 2003, Decimal('13889692'), Decimal('28547053868'), Decimal('0.4866')),
 ('Russian Federation', 2002, Decimal('13739186'), Decimal('28437680682'), Decimal('0.4831')),
 ('Ukraine', 2006, Decimal('4478966'), Decimal('9274878769'), Decimal('0.4829')),
 ('Russian Federation', 2005, Decimal('13576358'), Decimal('28479663115'), Decimal('0.4767')),
 ('Portugal', 2004, Decimal('614350'), Decimal('1289515026'), Decimal('0.4764')),
 ('Portugal', 2005, Decimal('641796'), Decimal('1354929699'), Decimal('0.4737')),
 ('Russian Federation', 2004, Decimal('13521134'), Decimal('28620421387'), Decimal('0.4724')),
 ('Russian Federation', 2001, Decimal('13277614'), Decimal('28610175474'), Decimal('0.4641')),
 ('Ukraine', 2009, Decimal('4184782'), Decimal('9128722224'), Decimal('0.4584')),
 ('Russian Federation', 2000, Decimal('13106104'), Decimal('28755592336'), Decimal('0.4558')),
 ('Ukraine', 2010, Decimal('4138606'), Decimal('9092386814'), Decimal('0.4552')),
 ('Russian Federation', 2006, Decimal('12778188'), Decimal('28354964740'), Decimal('0.4507')),
 ('Ukraine', 2014, Decimal('3755910'), Decimal('8523482828'), Decimal('0.4407')),
 ('Russian Federation', 1999, Decimal('12635178'), Decimal('28888670800'), Decimal('0.4374')),
 ('Ukraine', 2012, Decimal('3939104'), Decimal('9037184413'), Decimal('0.4359')),
 ('Ukraine', 2011, Decimal('3942700'), Decimal('9059620469'), Decimal('0.4352')),
 ('Russian Federation', 2007, Decimal('12276588'), Decimal('28280865896'), Decimal('0.4341')),
 ('Russian Federation', 2008, Decimal('12241806'), Decimal('28249325391'), Decimal('0.4333')),
 ('Belarus', 2002, Decimal('848582'), Decimal('1975028434'), Decimal('0.4297')),
 ('Belarus', 2003, Decimal('827262'), Decimal('1964891374'), Decimal('0.4210')),
 ('Russian Federation', 2010, Decimal('11935626'), Decimal('28427044132'), Decimal('0.4199')),
 ('Russian Federation', 2009, Decimal('11846894'), Decimal('28239939556'), Decimal('0.4195')),
 ('Belarus', 2010, Decimal('790372'), Decimal('1888626017'), Decimal('0.4185')),
 ('Ukraine', 2015, Decimal('3532244'), Decimal('8492378730'), Decimal('0.4159')),
 ('Ukraine', 2018, Decimal('3468716'), Decimal('8377932835'), Decimal('0.4140')),
 ('Ukraine', 2019, Decimal('3430652'), Decimal('8329776228'), Decimal('0.4119')),
 ('Belarus', 2011, Decimal('773550'), Decimal('1885161228'), Decimal('0.4103')),
 ('Belarus', 2009, Decimal('778318'), Decimal('1923955880'), Decimal('0.4045')),
 ('Ukraine', 2017, Decimal('3392364'), Decimal('8420851364'), Decimal('0.4029')),
 ('Belarus', 2008, Decimal('768236'), Decimal('1926487359'), Decimal('0.3988')),
 ('Russian Federation', 2011, Decimal('11326264'), Decimal('28449220692'), Decimal('0.3981')),
 ('Belarus', 2007, Decimal('765208'), Decimal('1930721084'), Decimal('0.3963')),
 ('Russian Federation', 2012, Decimal('11185626'), Decimal('28497144270'), Decimal('0.3925')),
 ('Russian Federation', 2013, Decimal('10946240'), Decimal('28557891607'), Decimal('0.3833')),
 ('Russian Federation', 2014, Decimal('10933058'), Decimal('28557891607'), Decimal('0.3828')),
 ('Russian Federation', 2015, Decimal('11117716'), Decimal('29134793801'), Decimal('0.3816')),
 ('Belarus', 2013, Decimal('712708'), Decimal('1883733403'), Decimal('0.3783')),
 ('Belarus', 2014, Decimal('698664'), Decimal('1885427689'), Decimal('0.3706')),
 ('Russian Federation', 2019, Decimal('10505600'), Decimal('29206166345'), Decimal('0.3597')),
 ('Kazakhstan', 2005, Decimal('924190'), Decimal('3014258771'), Decimal('0.3066')),
 ('Kazakhstan', 2006, Decimal('923976'), Decimal('3046308716'), Decimal('0.3033')),
 ('Kazakhstan', 2007, Decimal('928226'), Decimal('3081354208'), Decimal('0.3012')),
 ('Kazakhstan', 2004, Decimal('896436'), Decimal('2987584015'), Decimal('0.3001')),
 ('Kazakhstan', 2008, Decimal('886778'), Decimal('3119125602'), Decimal('0.2843')),
 ('San Marino', 2020, Decimal('1920'), Decimal('6891075'), Decimal('0.2786')),
 ('Rodrigues', 2005, Decimal('896'), Decimal('3321630'), Decimal('0.2697')),
 ('Kazakhstan', 2009, Decimal('819328'), Decimal('3169062861'), Decimal('0.2585'))]

### This analysis ranks countries by annual mortality rate and selects the ten highest rates per year, enabling identification of countries with consistently elevated mortality burdens.

Results are limited to 50 rows for readability while preserving full ranking logic in the query.

In [15]:
%%sql

WITH rates AS(
    SELECT c.country_name,
    m.year_01,
    SUM(total_deaths) * 100000 / SUM(total_pop) AS death_rate
    FROM mortality_table m
    JOIN country c ON c.country = m.country
    JOIN population P ON m.country = p.country
    AND m.year_01 = p.year_1
    GROUP BY c.country_name, m.year_01
)

SELECT * FROM
(SELECT *,
RANK() OVER (PARTITION BY year_01 ORDER BY death_rate DESC)
AS rank_in_year 
FROM rates)r
WHERE rank_in_year <=10
LIMIT 50

 * mysql+pymysql://root:***@localhost:3306/who
50 rows affected.

[('Slovakia', 1994, Decimal('3.3745'), 1),
 ('Thailand', 1994, Decimal('2.5209'), 2),
 ('Denmark', 1994, Decimal('1.9829'), 3),
 ('Czech Republic', 1994, Decimal('1.4946'), 4),
 ('Malta', 1995, Decimal('5.6613'), 1),
 ('Slovakia', 1995, Decimal('3.5363'), 2),
 ('Croatia', 1995, Decimal('2.3268'), 3),
 ('Denmark', 1995, Decimal('2.0314'), 4),
 ('Kuwait', 1995, Decimal('1.9881'), 5),
 ('Czech Republic', 1995, Decimal('1.5513'), 6),
 ('Republic of Korea', 1995, Decimal('1.2649'), 7),
 ('Switzerland', 1995, Decimal('1.2504'), 8),
 ('Japan', 1995, Decimal('0.5439'), 9),
 ('Iceland', 1996, Decimal('6.4851'), 1),
 ('Malta', 1996, Decimal('6.1011'), 2),
 ('Latvia', 1996, Decimal('5.8325'), 3),
 ('Republic of Moldova', 1996, Decimal('5.0768'), 4),
 ('Finland', 1996, Decimal('3.5997'), 5),
 ('Slovakia', 1996, Decimal('3.5945'), 6),
 ('Croatia', 1996, Decimal('2.6452'), 7),
 ('Kuwait', 1996, Decimal('2.0797'), 8),
 ('Denmark', 1996, Decimal('1.9533'), 9),
 ('Norway', 1996, Decimal('1.8070'), 10),
 ('Estonia', 1997, Decimal('7.2590'), 1),
 ('Malta', 1997, Decimal('6.2579'), 2),
 ('Iceland', 1997, Decimal('6.2269'), 3),
 ('Latvia', 1997, Decimal('5.8039'), 4),
 ('Republic of Moldova', 1997, Decimal('4.9826'), 5),
 ('Slovenia', 1997, Decimal('4.4828'), 6),
 ('Slovakia', 1997, Decimal('3.7712'), 7),
 ('Finland', 1997, Decimal('3.5911'), 8),
 ('Croatia', 1997, Decimal('2.4666'), 9),
 ('Kuwait', 1997, Decimal('2.1297'), 10),
 ('Syrian Arab Republic', 1998, Decimal('10.3984'), 1),
 ('Estonia', 1998, Decimal('7.4920'), 2),
 ('Latvia', 1998, Decimal('6.3986'), 3),
 ('Malta', 1998, Decimal('6.0972'), 4),
 ('Iceland', 1998, Decimal('6.0464'), 5),
 ('Republic of Moldova', 1998, Decimal('5.2419'), 6),
 ('Serbia', 1998, Decimal('5.0216'), 7),
 ('Luxembourg', 1998, Decimal('4.8357'), 8),
 ('Georgia', 1998, Decimal('4.5147'), 9),
 ('Lithuania', 1998, Decimal('4.4038'), 10),
 ('Russian Federation', 1999, Decimal('43.7375'), 1),
 ('Cyprus', 1999, Decimal('18.9769'), 2),
 ('Syrian Arab Republic', 1999, Decimal('10.7359'), 3),
 ('Estonia', 1999, Decimal('7.4114'), 4),
 ('Iceland', 1999, Decimal('6.5945'), 5),
 ('Malta', 1999, Decimal('6.4292'), 6),
 ('Latvia', 1999, Decimal('6.1883'), 7)]

### Age Distribution of Mortality (Percentage of Total Deaths by Country)

Results are limited to 50 rows for readability while preserving full ranking logic in the query.

In [16]:
%%sql

WITH country_totals AS(
    SELECT m.country,
    SUM(total_deaths) AS total_death
    FROM mortality_table m
GROUP BY m.country
)

SELECT c.country_name,
        SUM(yr_0 + yr_1 + yr_2 + yr_3 + yr_4 + day_0 + day_1_6 + day_7_27 + day_28_364) * 100.0 / ct.total_death AS pct_under_5,
        SUM(yr_60_64 + yr_65_69 + yr_70_74 + yr_75_79 + yr_80_84 + yr_85_89 + yr_90_94 + yr_95_above) * 100.0 / ct.total_death AS pct_60_plus,
        SUM(yr_5_9 + yr_10_14 + yr_15_19) * 100.0 / ct.total_death AS pct_5_19,
        SUM(yr_20_24 + yr_25_29 + yr_30_34 + yr_35_39) * 100.0 / ct.total_death AS pct_20_39,
        SUM(yr_40_44 + yr_45_49 + yr_50_54 + yr_55_59) * 100.0 /ct.total_death AS pct_40_59
FROM mortality_table m
JOIN country_totals ct
ON ct.country = m.country
JOIN country c 
ON m.country = c.country
GROUP BY c.country_name, ct.total_death
ORDER BY country_name DESC
LIMIT 50;

 * mysql+pymysql://root:***@localhost:3306/who
50 rows affected.

[('Virgin Islands (USA)', Decimal('3.12082'), Decimal('69.64861'), Decimal('1.44643'), Decimal('8.25407'), Decimal('18.63847')),
 ('Venezuela', Decimal('16.36047'), Decimal('52.51423'), Decimal('4.60759'), Decimal('15.15728'), Decimal('18.71923')),
 ('Uzbekistan', Decimal('4.77169'), None, Decimal('2.47844'), Decimal('8.50606'), Decimal('21.38602')),
 ('Uruguay', Decimal('2.92585'), Decimal('82.03227'), Decimal('0.89613'), Decimal('3.53744'), Decimal('11.35051')),
 ('United States of America', Decimal('1.27389'), Decimal('80.25089'), Decimal('0.68187'), Decimal('3.96684'), Decimal('13.98635')),
 ('United Kingdom, Scotland', Decimal('0.84836'), Decimal('86.40214'), Decimal('0.32944'), Decimal('2.39490'), Decimal('10.41307')),
 ('United Kingdom, Northern Ireland', Decimal('1.54185'), Decimal('86.20492'), Decimal('0.51744'), Decimal('2.50562'), Decimal('9.91910')),
 ('United Kingdom, England and Wales', Decimal('1.20106'), Decimal('88.65726'), Decimal('0.30391'), Decimal('1.84252'), Decimal('8.55085')),
 ('United Kingdom', Decimal('1.20472'), Decimal('88.31746'), Decimal('0.31713'), Decimal('1.92738'), Decimal('8.79019')),
 ('United Arab Emirates', None, Decimal('13.12074'), Decimal('2.10447'), Decimal('19.88511'), Decimal('30.90675')),
 ('Ukraine', None, None, Decimal('0.41137'), Decimal('5.14635'), Decimal('18.16250')),
 ('Turks and Caicos Islands', Decimal('6.03917'), Decimal('49.72797'), Decimal('2.55713'), Decimal('14.52666'), Decimal('21.87160')),
 ('Turkmenistan', None, None, Decimal('3.35181'), Decimal('12.18463'), Decimal('23.60464')),
 ('Turkey', Decimal('6.47474'), Decimal('77.72433'), Decimal('1.38743'), Decimal('3.55905'), Decimal('13.74725')),
 ('Tunisia', None, None, Decimal('0.93226'), Decimal('3.20569'), Decimal('11.70245')),
 ('Trinidad and Tobago', Decimal('5.52912'), Decimal('64.97699'), Decimal('1.61361'), Decimal('9.32151'), Decimal('20.97085')),
 ('Thailand', Decimal('0.31498'), Decimal('12.84008'), Decimal('2.55021'), Decimal('12.43853'), Decimal('22.85257')),
 ('Tajikistan', None, None, Decimal('2.29176'), Decimal('7.70219'), Decimal('19.73847')),
 ('Syrian Arab Republic', Decimal('4.35327'), Decimal('14.32139'), Decimal('6.21456'), Decimal('8.21430'), Decimal('17.13075')),
 ('Switzerland', Decimal('1.11080'), Decimal('88.87062'), Decimal('0.34316'), Decimal('1.86495'), Decimal('8.32030')),
 ('Sweden', Decimal('0.67493'), Decimal('91.31092'), Decimal('0.28265'), Decimal('1.46968'), Decimal('6.56293')),
 ('Suriname', Decimal('5.30652'), Decimal('54.94574'), Decimal('2.63811'), Decimal('11.65653'), Decimal('21.38704')),
 ('Sri Lanka', Decimal('2.66026'), Decimal('32.41040'), Decimal('2.64927'), Decimal('8.92596'), Decimal('20.31589')),
 ('Spain', Decimal('0.78170'), Decimal('88.82030'), Decimal('0.28108'), Decimal('1.80572'), Decimal('8.66244')),
 ('South Africa', Decimal('9.08443'), Decimal('34.62870'), Decimal('3.13741'), Decimal('25.51155'), Decimal('26.30531')),
 ('Solomon Islands', Decimal('46.01227'), Decimal('24.64213'), Decimal('5.62372'), Decimal('12.06544'), Decimal('29.03885')),
 ('Slovenia', Decimal('0.68354'), Decimal('14.48046'), Decimal('0.36833'), Decimal('2.22507'), Decimal('12.26510')),
 ('Slovakia', Decimal('1.09853'), Decimal('53.49011'), Decimal('0.51180'), Decimal('2.77803'), Decimal('15.27660')),
 ('Singapore', Decimal('0.77354'), Decimal('7.69962'), Decimal('0.39809'), Decimal('1.98457'), Decimal('13.08678')),
 ('Seychelles', None, None, None, None, None),
 ('Serbia and Montenegro, Former', Decimal('2.84645'), Decimal('81.07212'), Decimal('0.58472'), Decimal('2.52445'), Decimal('14.20991')),
 ('Serbia', Decimal('1.01724'), Decimal('85.60226'), Decimal('0.27927'), Decimal('1.65415'), Decimal('11.85797')),
 ('Saudi Arabia', Decimal('11.99821'), Decimal('4.56262'), Decimal('4.78456'), Decimal('14.45484'), Decimal('22.17306')),
 ('San Marino', None, None, None, None, None),
 ('Saint Vincent and Grenadines', Decimal('6.43188'), Decimal('66.45209'), Decimal('1.85668'), Decimal('8.37368'), Decimal('18.95515')),
 ('Saint Pierre and Miquelon', None, None, None, None, None),
 ('Saint Lucia', Decimal('5.50549'), Decimal('66.35972'), Decimal('1.95925'), Decimal('8.47962'), Decimal('18.40909')),
 ('Saint Kitts and Nevis', Decimal('7.57405'), Decimal('68.27927'), Decimal('2.00282'), Decimal('8.30748'), Decimal('17.16502')),
 ('Russian Federation', None, Decimal('15.73677'), Decimal('0.73341'), Decimal('7.35452'), Decimal('21.90224')),
 ('Romania', Decimal('2.13435'), Decimal('80.73669'), Decimal('0.56338'), Decimal('2.59448'), Decimal('14.94521')),
 ('Rodrigues', Decimal('11.78451'), Decimal('68.35017'), Decimal('1.07744'), Decimal('6.06061'), Decimal('18.08081')),
 ('Reunion', None, None, None, None, None),
 ('Republic of Moldova', Decimal('2.74084'), Decimal('38.34558'), Decimal('0.84842'), Decimal('4.67289'), Decimal('21.36342')),
 ('Republic of Korea', Decimal('0.67907'), Decimal('72.25201'), Decimal('0.84950'), Decimal('4.68211'), Decimal('17.15218')),
 ('Qatar', Decimal('6.43933'), Decimal('6.56696'), Decimal('3.66523'), Decimal('22.40109'), Decimal('29.07776')),
 ('Puerto Rico', Decimal('2.49181'), Decimal('78.42289'), Decimal('0.81609'), Decimal('5.42261'), Decimal('13.89791')),
 ('Portugal', Decimal('0.25882'), Decimal('38.77851'), Decimal('0.23292'), Decimal('1.56485'), Decimal('7.92698')),
 ('Poland', Decimal('1.11740'), Decimal('80.55204'), Decimal('0.44094'), Decimal('2.85892'), Decimal('15.54560')),
 ('Philippines', Decimal('6.17149'), Decimal('33.78845'), Decimal('3.67374'), Decimal('11.01943'), Decimal('23.55037')),
 ('Peru', Decimal('10.95579'), Decimal('65.01319'), Decimal('2.96390'), Decimal('8.75014'), Decimal('15.90850'))]

### Under-5 Mortality as a Share of Total Deaths

Results are limited to 50 rows for readability while preserving full ranking logic in the query.

In [17]:
%%sql

SELECT c.country_name,
        SUM(yr_0 + yr_1 + yr_2 + yr_3 + yr_4 + day_0 + day_1_6 + day_7_27 + day_28_364) * 100.0/
        SUM(m.total_deaths) AS under_5_mortality_share
FROM mortality_table m
JOIN country c 
ON c.country = m.country
GROUP BY c.country_name
ORDER BY under_5_mortality_share DESC
LIMIT 50;

 * mysql+pymysql://root:***@localhost:3306/who
50 rows affected.

[('Honduras', Decimal('55.72894')),
 ('Solomon Islands', Decimal('46.01227')),
 ('Morocco', Decimal('23.24533')),
 ('Guatemala', Decimal('19.59319')),
 ('Nicaragua', Decimal('18.83669')),
 ('Kyrgyzstan', Decimal('17.99878')),
 ('Occupied Palestinian Territory', Decimal('17.35328')),
 ('Belize', Decimal('16.74218')),
 ('Venezuela', Decimal('16.36047')),
 ('Dominican Republic', Decimal('14.66874')),
 ('Panama', Decimal('13.93041')),
 ('Haiti', Decimal('13.86371')),
 ('Paraguay', Decimal('12.11588')),
 ('Botswana', Decimal('12.08004')),
 ('Saudi Arabia', Decimal('11.99821')),
 ('Ecuador', Decimal('11.99784')),
 ('Maldives', Decimal('11.87934')),
 ('Rodrigues', Decimal('11.78451')),
 ('Peru', Decimal('10.95579')),
 ('Oman', Decimal('10.78314')),
 ('Lebanon', Decimal('10.09560')),
 ('Kuwait', Decimal('9.88726')),
 ('Bahrain', Decimal('9.48499')),
 ('South Africa', Decimal('9.08443')),
 ('Mongolia', Decimal('9.01648')),
 ('El Salvador', Decimal('8.07898')),
 ('Guyana', Decimal('7.97230')),
 ('British Virgin Islands', Decimal('7.86089')),
 ('Saint Kitts and Nevis', Decimal('7.57405')),
 ('Costa Rica', Decimal('6.53588')),
 ('Turkey', Decimal('6.47474')),
 ('Qatar', Decimal('6.43933')),
 ('Saint Vincent and Grenadines', Decimal('6.43188')),
 ('Netherlands Antilles', Decimal('6.36399')),
 ('Philippines', Decimal('6.17149')),
 ('Turks and Caicos Islands', Decimal('6.03917')),
 ('Dominica', Decimal('5.65058')),
 ('Trinidad and Tobago', Decimal('5.52912')),
 ('Saint Lucia', Decimal('5.50549')),
 ('Egypt', Decimal('5.49790')),
 ('Malaysia', Decimal('5.49146')),
 ('Antigua and Barbuda', Decimal('5.44773')),
 ('Bahamas', Decimal('5.39778')),
 ('Suriname', Decimal('5.30652')),
 ('Iran (Islamic Republic of)', Decimal('5.22477')),
 ('Grenada', Decimal('4.78993')),
 ('Uzbekistan', Decimal('4.77169')),
 ('Syrian Arab Republic', Decimal('4.35327')),
 ('Anguilla', Decimal('4.34783')),
 ('Chile', Decimal('4.31369'))]

## Age-Specific Mortality Rates (Optimized)

Calculates death rates per 100,000 population for key age groups by country and year.

- Aggregates deaths and population by age band before joining to reduce computation  
- Computes rates for: Under 5, 519, 2039, 4059, 6079, 80+  
- Outputs country name, year, and age-specific death rates  
- Optimized for performance using pre-aggregated tables to handle large datasets efficiently
- Results are limited to 50 rows for readability while preserving full ranking logic in the query.

In [14]:
%%sql
WITH mortality_agg AS (
    SELECT 
        country,
        year_01,
        SUM(yr_0 + yr_1 + yr_2 + yr_3 + yr_4 + day_0 + day_1_6 + day_7_27 + day_28_364) AS deaths_under5,
        SUM(yr_5_9 + yr_10_14 + yr_15_19) AS deaths_5_19,
        SUM(yr_20_24 + yr_25_29 + yr_30_34 + yr_35_39) AS deaths_20_39,
        SUM(yr_40_44 + yr_45_49 + yr_50_54 + yr_55_59) AS deaths_40_59,
        SUM(yr_60_64 + yr_65_69 + yr_70_74 + yr_75_79) AS deaths_60_79,
        SUM(yr_80_84 + yr_85_89 + yr_90_94 + yr_95_above) AS deaths_80_plus
    FROM mortality_table
    GROUP BY country, year_01
),

population_agg AS (
    SELECT
        country,
        year_1,
        (pop_0yr + pop_1yr + pop_2yr + pop_3yr + pop_4yr) AS pop_under5,
        (pop_5_9yr + pop_10_14yr + pop_15_19yr) AS pop_5_19,
        (pop_20_24yr + pop_25_29yr + pop_30_34yr + pop_35_39yr) AS pop_20_39,
        (pop_40_44yr + pop_45_49yr + pop_50_54yr + pop_55_59yr) AS pop_40_59,
        (pop_60_64yr + pop_65_69yr + pop_70_74yr + pop_75_79yr) AS pop_60_79,
        (pop_80_84yr + pop_85_89yr + pop_90_94yr + pop_95_above) AS pop_80_plus
    FROM population
)

SELECT 
    c.country_name,
    m.year_01,
    m.deaths_under5 * 100000.0 / p.pop_under5 AS rate_under5,
    m.deaths_5_19 * 100000.0 / p.pop_5_19 AS rate_5_19,
    m.deaths_20_39 * 100000.0 / p.pop_20_39 AS rate_20_39,
    m.deaths_40_59 * 100000.0 / p.pop_40_59 AS rate_40_59,
    m.deaths_60_79 * 100000.0 / p.pop_60_79 AS rate_60_79,
    m.deaths_80_plus * 100000.0 / p.pop_80_plus AS rate_80_plus
FROM mortality_agg m
JOIN population_agg p
    ON m.country = p.country
    AND m.year_01 = p.year_1
JOIN country c
    ON m.country = c.country
ORDER BY c.country_name, m.year_01
LIMIT 50;

 * mysql+pymysql://root:***@localhost:3306/who
100 rows affected.

[('Andorra', 2011, None, None, None, None, None, None),
 ('Andorra', 2011, None, None, None, None, None, None),
 ('Andorra', 2012, None, None, None, None, None, None),
 ('Andorra', 2012, None, None, None, None, None, None),
 ('Andorra', 2013, None, None, None, None, None, None),
 ('Andorra', 2013, None, None, None, None, None, None),
 ('Andorra', 2014, None, None, None, None, None, None),
 ('Andorra', 2014, None, None, None, None, None, None),
 ('Andorra', 2015, None, None, None, None, None, None),
 ('Andorra', 2015, None, None, None, None, None, None),
 ('Andorra', 2016, None, None, None, None, None, None),
 ('Andorra', 2016, None, None, None, None, None, None),
 ('Andorra', 2017, None, None, None, None, None, None),
 ('Andorra', 2017, None, None, None, None, None, None),
 ('Andorra', 2018, None, None, None, None, None, None),
 ('Andorra', 2018, None, None, None, None, None, None),
 ('Andorra', 2019, None, None, None, None, None, None),
 ('Andorra', 2019, None, None, None, None, None, None),
 ('Andorra', 2020, None, None, None, None, None, None),
 ('Andorra', 2020, None, None, None, None, None, None),
 ('Armenia', 2006, None, Decimal('101.16557'), Decimal('390.36949'), Decimal('2279.95461'), Decimal('17204.43799'), None),
 ('Armenia', 2006, None, Decimal('107.61008'), Decimal('375.98160'), Decimal('2009.25486'), Decimal('11871.40575'), None),
 ('Armenia', 2007, None, Decimal('115.81143'), Decimal('364.85320'), Decimal('2364.77311'), Decimal('16182.03930'), None),
 ('Armenia', 2007, None, Decimal('119.55845'), Decimal('332.61824'), Decimal('2175.64289'), Decimal('11439.56093'), None),
 ('Armenia', 2008, None, Decimal('113.52907'), Decimal('348.58980'), Decimal('2030.39519'), Decimal('12561.43937'), None),
 ('Armenia', 2008, None, Decimal('104.96030'), Decimal('355.07315'), Decimal('2302.67366'), Decimal('17548.51425'), None),
 ('Armenia', 2009, None, Decimal('135.30475'), Decimal('384.15142'), Decimal('2473.03131'), Decimal('15268.91496'), None),
 ('Armenia', 2009, None, Decimal('139.89844'), Decimal('343.30340'), Decimal('2331.75685'), Decimal('10890.76403'), None),
 ('Armenia', 2012, None, Decimal('119.77787'), Decimal('335.81242'), Decimal('2096.35784'), Decimal('10973.48189'), None),
 ('Armenia', 2012, None, Decimal('108.01080'), Decimal('355.71998'), Decimal('2431.66192'), Decimal('15065.69015'), None),
 ('Armenia', 2013, None, Decimal('116.14142'), Decimal('290.38184'), Decimal('2009.73752'), Decimal('10534.79482'), None),
 ('Armenia', 2013, None, Decimal('103.65449'), Decimal('308.50218'), Decimal('2346.64831'), Decimal('14561.91830'), None),
 ('Armenia', 2014, None, Decimal('115.39114'), Decimal('306.31007'), Decimal('1961.42623'), Decimal('10376.29020'), None),
 ('Armenia', 2014, None, Decimal('102.34422'), Decimal('326.47580'), Decimal('2306.49074'), Decimal('14430.35225'), None),
 ('Armenia', 2015, None, Decimal('126.84620'), Decimal('309.07986'), Decimal('2050.12635'), Decimal('10101.32581'), None),
 ('Armenia', 2015, None, Decimal('111.97382'), Decimal('330.52185'), Decimal('2429.83650'), Decimal('14113.56474'), None),
 ('Armenia', 2016, None, Decimal('159.69864'), Decimal('299.45977'), Decimal('1990.84031'), Decimal('9809.89721'), None),
 ('Armenia', 2016, None, Decimal('140.42349'), Decimal('321.90016'), Decimal('2384.94386'), Decimal('13764.33062'), None),
 ('Armenia', 2017, None, Decimal('131.84030'), Decimal('258.74058'), Decimal('1798.73059'), Decimal('9150.76156'), None),
 ('Armenia', 2017, None, Decimal('115.54454'), Decimal('279.29791'), Decimal('2176.23125'), Decimal('12860.35288'), None),
 ('Armenia', 2018, None, Decimal('103.90398'), Decimal('291.78628'), Decimal('1803.19322'), Decimal('8271.78041'), None),
 ('Armenia', 2018, None, Decimal('91.15679'), Decimal('315.74249'), Decimal('2199.36467'), Decimal('11624.16298'), None),
 ('Armenia', 2019, None, Decimal('107.05957'), Decimal('257.47073'), Decimal('1767.17660'), Decimal('7996.97124'), None),
 ('Armenia', 2019, None, Decimal('93.93927'), Decimal('278.68637'), Decimal('2167.48408'), Decimal('11233.50569'), None),
 ('Armenia', 2022, None, Decimal('192.68099'), Decimal('332.21044'), Decimal('1579.31724'), Decimal('7524.19069'), None),
 ('Armenia', 2022, None, Decimal('169.65401'), Decimal('355.06465'), Decimal('1920.63813'), Decimal('10707.53969'), None),
 ('Australia', 1998, Decimal('857.85443'), Decimal('110.51221'), Decimal('389.12784'), Decimal('1121.39557'), Decimal('8679.88898'), Decimal('60071.39784')),
 ('Australia', 1998, Decimal('905.28893'), Decimal('116.01049'), Decimal('389.65070'), Decimal('1135.05023'), Decimal('7859.67376'), Decimal('31737.21447')),
 ('Australia', 1999, Decimal('937.72293'), Decimal('107.92995'), Decimal('380.15203'), Decimal('1093.97328'), Decimal('8393.49142'), Decimal('59363.92711')),
 ('Australia', 1999, Decimal('987.96942'), Decimal('113.27203'), Decimal('380.08423'), Decimal('1103.49379'), Decimal('7650.46343'), Decimal('31523.62869')),
 ('Australia', 2000, Decimal('914.78093'), Decimal('112.80126'), Decimal('364.52904'), Decimal('1093.75531'), Decimal('7367.89061'), Decimal('31242.96524')),
 ('Australia', 2000, Decimal('869.07466'), Decimal('107.53970'), Decimal('364.95758'), Decimal('1088.54653'), Decimal('8022.93271'), Decimal('58061.85651')),
 ('Australia', 2001, Decimal('852.01650'), Decimal('91.74308'), Decimal('326.85062'), Decimal('1069.31519'), Decimal('7725.84074'), Decimal('55473.61209')),
 ('Australia', 2001, Decimal('896.52369'), Decimal('96.26044'), Decimal('325.90241'), Decimal('1070.31737'), Decimal('7159.40399'), Decimal('30274.23120')),
 ('Australia', 2002, Decimal('815.43220'), Decimal('92.55334'), Decimal('312.29481'), Decimal('1058.42977'), Decimal('7573.89078'), Decimal('55977.93973')),
 ('Australia', 2002, Decimal('860.10938'), Decimal('97.28503'), Decimal('312.83402'), Decimal('1057.70787'), Decimal('7072.62601'), Decimal('31100.43325')),
 ('Australia', 2003, Decimal('864.78663'), Decimal('91.41425'), Decimal('305.60018'), Decimal('1027.32129'), Decimal('6777.10812'), Decimal('30100.17114')),
 ('Australia', 2003, Decimal('822.17560'), Decimal('86.88978'), Decimal('304.15635'), Decimal('1029.79039'), Decimal('7213.73986'), Decimal('53343.90987')),
 ('Australia', 2004, Decimal('805.24753'), Decimal('80.86036'), Decimal('293.40216'), Decimal('1015.44892'), Decimal('6989.93598'), Decimal('52614.11128')),
 ('Australia', 2004, Decimal('848.18460'), Decimal('84.95897'), Decimal('294.58642'), Decimal('1010.13140'), Decimal('6586.32217'), Decimal('30030.19156')),
 ('Australia', 2006, Decimal('831.34636'), Decimal('78.75924'), Decimal('275.47329'), Decimal('1008.76063'), Decimal('6462.43031'), Decimal('52966.64516')),
 ('Australia', 2006, Decimal('877.50295'), Decimal('82.84704'), Decimal('276.90987'), Decimal('999.27289'), Decimal('6111.17451'), Decimal('30726.56558')),
 ('Australia', 2007, Decimal('765.86194'), Decimal('74.22253'), Decimal('276.56482'), Decimal('1005.15469'), Decimal('6175.06219'), Decimal('49772.50483')),
 ('Australia', 2007, Decimal('808.35329'), Decimal('78.32957'), Decimal('279.50596'), Decimal('990.97854'), Decimal('5881.17532'), Decimal('30068.60071')),
 ('Australia', 2008, Decimal('758.88939'), Decimal('73.31705'), Decimal('267.82641'), Decimal('997.31699'), Decimal('6080.09203'), Decimal('51013.03576')),
 ('Australia', 2008, Decimal('800.75751'), Decimal('77.46020'), Decimal('271.97939'), Decimal('981.20881'), Decimal('5803.47058'), Decimal('31416.17119')),
 ('Australia', 2009, Decimal('753.76196'), Decimal('74.89853'), Decimal('260.87163'), Decimal('1003.75666'), Decimal('5704.37112'), Decimal('47641.28191')),
 ('Australia', 2009, Decimal('795.12868'), Decimal('79.13557'), Decimal('266.39708'), Decimal('985.73084'), Decimal('5450.21914'), Decimal('29866.10329')),
 ('Australia', 2010, Decimal('721.55096'), Decimal('73.93810'), Decimal('247.90125'), Decimal('985.42979'), Decimal('5528.08934'), Decimal('47390.27721')),
 ('Australia', 2010, Decimal('760.32379'), Decimal('78.01931'), Decimal('253.28011'), Decimal('966.31032'), Decimal('5283.24840'), Decimal('30252.36816')),
 ('Australia', 2011, Decimal('699.56186'), Decimal('73.44758'), Decimal('254.99892'), Decimal('956.44637'), Decimal('5256.20442'), Decimal('30899.40675')),
 ('Australia', 2011, Decimal('663.16913'), Decimal('69.66628'), Decimal('250.87307'), Decimal('973.92426'), Decimal('5453.81440'), Decimal('48555.09917')),
 ('Australia', 2012, Decimal('592.50152'), Decimal('70.12463'), Decimal('235.41099'), Decimal('942.12616'), Decimal('5261.98498'), Decimal('47680.68786')),
 ('Australia', 2012, Decimal('625.00862'), Decimal('74.02705'), Decimal('239.45365'), Decimal('923.87194'), Decimal('5068.58806'), Decimal('30757.92141')),
 ('Australia', 2013, Decimal('651.66888'), Decimal('69.95972'), Decimal('229.64284'), Decimal('932.81047'), Decimal('4989.59306'), Decimal('30078.92680')),
 ('Australia', 2013, Decimal('616.90457'), Decimal('66.24188'), Decimal('225.75299'), Decimal('952.87106'), Decimal('5186.16493'), Decimal('46006.78807')),
 ('Australia', 2014, Decimal('556.13337'), Decimal('58.62963'), Decimal('238.72253'), Decimal('983.62085'), Decimal('5233.50823'), Decimal('46600.57759')),
 ('Australia', 2014, Decimal('586.49621'), Decimal('61.85862'), Decimal('241.76508'), Decimal('957.11811'), Decimal('5018.16756'), Decimal('30987.88685')),
 ('Australia', 2015, Decimal('580.25569'), Decimal('70.19867'), Decimal('240.56907'), Decimal('977.90926'), Decimal('4996.53081'), Decimal('31990.33951')),
 ('Australia', 2015, Decimal('550.03651'), Decimal('66.64407'), Decimal('237.96796'), Decimal('1006.23205'), Decimal('5224.22062'), Decimal('47365.68767')),
 ('Australia', 2016, Decimal('527.54511'), Decimal('57.16173'), Decimal('236.59811'), Decimal('977.32540'), Decimal('5089.84162'), Decimal('45766.22832')),
 ('Australia', 2016, Decimal('556.59087'), Decimal('60.21434'), Decimal('238.20318'), Decimal('947.65452'), Decimal('4853.58384'), Decimal('31419.92871')),
 ('Australia', 2017, Decimal('550.99756'), Decimal('60.78725'), Decimal('230.27041'), Decimal('959.34573'), Decimal('5069.13420'), Decimal('45111.12071')),
 ('Australia', 2017, Decimal('582.37055'), Decimal('64.15094'), Decimal('231.53010'), Decimal('931.43668'), Decimal('4816.43454'), Decimal('31421.47550')),
 ('Australia', 2018, Decimal('561.84582'), Decimal('62.30126'), Decimal('225.15142'), Decimal('919.19580'), Decimal('4675.99376'), Decimal('30050.30778')),
 ('Australia', 2018, Decimal('530.99371'), Decimal('58.90420'), Decimal('223.88938'), Decimal('945.62057'), Decimal('4940.26742'), Decimal('42509.83512')),
 ('Australia', 2019, Decimal('583.26275'), Decimal('65.22858'), Decimal('241.01101'), Decimal('962.74794'), Decimal('4816.49186'), Decimal('31331.69456')),
 ('Australia', 2019, Decimal('550.23935'), Decimal('61.58745'), Decimal('239.14525'), Decimal('990.59009'), Decimal('5108.90481'), Decimal('43738.14424')),
 ('Australia', 2020, Decimal('518.50942'), Decimal('57.85759'), Decimal('229.52718'), Decimal('918.99110'), Decimal('4763.46844'), Decimal('39885.71403')),
 ('Australia', 2020, Decimal('549.20952'), Decimal('61.34202'), Decimal('231.59694'), Decimal('892.36440'), Decimal('4466.54469'), Decimal('29036.13244')),
 ('Australia', 2021, Decimal('559.35115'), Decimal('60.85856'), Decimal('223.93302'), Decimal('933.42520'), Decimal('4891.65651'), Decimal('41437.63582')),
 ('Australia', 2021, Decimal('592.00493'), Decimal('64.52709'), Decimal('226.29696'), Decimal('908.77546'), Decimal('4575.99319'), Decimal('30619.86100')),
 ('Australia', 2022, Decimal('567.52699'), Decimal('61.06376'), Decimal('238.15630'), Decimal('954.07817'), Decimal('4972.24232'), Decimal('33645.53778')),
 ('Australia', 2022, Decimal('536.53969'), Decimal('57.59175'), Decimal('235.45090'), Decimal('980.54385'), Decimal('5330.23994'), Decimal('44810.31559')),
 ('Australia', 2023, Decimal('508.54688'), Decimal('59.19024'), Decimal('215.23774'), Decimal('932.56497'), Decimal('5083.81224'), Decimal('41272.97973')),
 ('Australia', 2023, Decimal('536.52737'), Decimal('62.80494'), Decimal('218.47828'), Decimal('907.40715'), Decimal('4725.61883'), Decimal('31215.49336')),
 ('Austria', 2002, Decimal('719.83564'), Decimal('101.88912'), Decimal('299.50838'), Decimal('1440.40151'), Decimal('7363.87551'), Decimal('32510.73152')),
 ('Austria', 2002, Decimal('682.79055'), Decimal('97.02086'), Decimal('293.98945'), Decimal('1445.66834'), Decimal('9362.07793'), Decimal('83865.55780')),
 ('Austria', 2003, Decimal('804.67875'), Decimal('103.16592'), Decimal('292.84916'), Decimal('1392.51523'), Decimal('7342.88149'), Decimal('32428.31073')),
 ('Austria', 2003, Decimal('763.25366'), Decimal('98.18306'), Decimal('287.89223'), Decimal('1395.70878'), Decimal('9166.96090'), Decimal('83242.61318'))]